/*!
Theme: Mesee
Author: Andrey Galkin
Version: 1.0
*/

/*//////////////////////////////////////////////////////////////////
[ IMPORT FONTS ]*/

@font-face {
    font-family: "Evolventa";
    src: url(../fonts/Evolventa-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: "Evolventa";
    src: url(../fonts/Evolventa-Bold.woff);
    font-weight: 700;
}

/*//////////////////////////////////////////////////////////////////
[ ROOT ]*/

:root {
    --bs-primary: #ff6721;
    --bs-secondary: #6c757d;
    --bs-font-sans-serif: "Evolventa",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-body-color: #786962;
    --bs-body-bg: #faf9f9;
    --bs-link-color: #FF6721;
    --bs-link-hover-color: #FF996C;
    --swiper-theme-color: #FF6721;
}

html {
	min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*//////////////////////////////////////////////////////////////////
[ TYPOGRAPHY ]*/

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    line-height: 1.2;
}

.fw-light,
.fw-300 {
    font-weight: 300;
}

.fw-normal,
.fw-regular,
.fw-400 {
    font-weight: 400;
}

.fw-medium,
.fw-500 {
    font-weight: 500;
}

.fw-semibold,
.fw-600 {
    font-weight: 600;
}

.fw-bold,
.fw-700 {
    font-weight: 700;
}

.fs-6 {
    font-size: 1.125rem!important;
}

.fs-small-l {
    font-size: 1rem!important;
}

.fs-small-m {
    font-size: 0.875rem!important;
}

.fs-small-s {
    font-size: 0.75rem!important;
}

/*//////////////////////////////////////////////////////////////////
[ FORMS ]*/

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

:focus,
:active {
    outline: none;
}

textarea {
    overflow: auto;
}

.form-control,
.form-select {
    border-radius: 0.5rem;
}

.form-control:focus,
.form-select:focus {
    border-color: #ff6721;
    box-shadow: none !important;
}

/* Check and radio */

.form-check-input:checked {
    background-color: #FF6721;
    border-color: #FF6721;
}

.form-check-input:focus {
    border-color: #FF6721;
    box-shadow: none;
}

/* Other fields */

.phone-group .form-select {
    max-width: 90px;
}

.filter-check.form-check-input {
    width: 22px;
    height: 22px;
    margin-top: 0;
    border-color: #FFC7AE;
    background-size: auto;
}

.filter-check.form-check-input:checked {
    background-color: #FFEFE8;
    border-color: #FFC7AE;
}

.filter-check.form-check-input:checked[type=radio],
.filter-check.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.5' width='10' height='10' rx='1' fill='%23FF6721'/%3E%3C/svg%3E");
}

.filter-check.form-check-input:focus {
    border-color: #FFC7AE;
    background-color: #FFEFE8;
}

.btn-filter {
    position: relative;
    display: block;
    cursor: pointer;
}

.btn-filter input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.btn-filter .btn-filter-body {
    position: relative;
    width: 125px;
    padding: 4px 10px;
    color: #786962;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff;
}

.btn-filter input[type="radio"]:checked + .btn-filter-body {
    color: #FF6721;
    border: 1px solid #FFC7AE;
}

.filters-section .bordered-select {
    width: auto;
    max-width: 165px;
    padding-right: 1.75rem;
    border-top-width: 0 !important;
    border-right-width: 0 !important;
    border-left-width: 0 !important;
    border-radius: 0 !important;
    background-color: transparent;
    background-position: right 0.5rem center;
}

@media (min-width: 992px) {
    .filters-section .price-input {
        max-width: 125px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ BUTTONS ]*/

.btn {
    --bs-btn-color: #786962;
    --bs-btn-hover-color: #FF996C;
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-border-radius: 8px;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff6721;
    --bs-btn-border-color: #ff6721;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ff996c;
    --bs-btn-hover-border-color: #ff996c;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ff996c;
    --bs-btn-active-border-color: #ff996c;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #C3B8B2;
    --bs-btn-disabled-border-color: #C3B8B2;
    --bs-btn-font-weight: 700;
    --bs-btn-border-width: 0;
    background-image: linear-gradient(90deg, #ff6721 0%, #ff996c 100%);
    transition: background-image 0.5s;
}

.btn-primary:hover {
    background-image: linear-gradient(90deg, #ff996c 0%, #ff6721 100%);
}

.btn-primary:focus {
    background-image: linear-gradient(90deg, #ff5000 0%, #ffc7ae 100%);
}

.btn-outline {
    --bs-btn-color: #FF6721;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #ff6822;
    --bs-btn-hover-color: #FF6721;
    --bs-btn-hover-bg: #ffe9e0;
    --bs-btn-hover-border-color: #ffe9e0;
    --bs-btn-active-color: #FF6721;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #ffc7ae;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #C3B8B2;
    --bs-btn-disabled-border-color: #C3B8B2;
    --bs-btn-font-weight: 700;
    --bs-btn-border-width: 2px;
}

.btn-outline:focus {
    border-color: #ffc7ae;
    background: transparent;
}

.btn-text {
    --bs-btn-color: #463E3A;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #FF6721;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: #FF6721;
    --bs-btn-active-border-color: transparent;
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-border-color: transparent;
    --bs-btn-box-shadow: none;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
}

.text-with-arrow {
    --icon-text-arrow: url("data:image/svg+xml,%3Csvg width='7' height='15' viewBox='0 0 7 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.47363L5.5 7.47363L1 13.4736' stroke='%23463E3A' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

.text-with-arrow::after {
    content: var(--icon-text-arrow);
    display: inline-block;
    margin-left: 8px;
    transition: all .2s ease-in-out;
    transition-property: transform;
}

.text-with-arrow:hover::after {
    transform: translateX(0.25rem);
}

.btn-link {
    --bs-btn-color: var(--bs-link-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--bs-link-hover-color);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--bs-link-hover-color);
    --bs-btn-active-border-color: transparent;
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-border-color: transparent;
    --bs-btn-box-shadow: none;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    border: none;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 400;
    text-decoration: none;
}

.link-with-arrow {
    --icon-link-arrow: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.83325L8 7.99996L1 14.1667' stroke='%23FF6721' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

.link-with-arrow::after {
    content: var(--icon-link-arrow);
    display: inline-block;
    margin-left: 8px;
    transition: all .2s ease-in-out;
    transition-property: transform;
}

.link-with-arrow:hover::after {
    transform: translateX(0.25rem);
}

.btn-callback {
    cursor: pointer;
    position: fixed;
    width: 56px;
    height: 56px;
    background: #00add0;
    border: 6px solid rgba(0, 173, 208, 0.18);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 12px;
    bottom: 75px;
    z-index: 999;
}

.btn-callback:hover {
    border-color: rgba(0, 133, 160, 0.18);
}

.btn-svg {
    --bs-btn-active-color: #786962;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-svg.active .compare-svg path {
    fill: #1BCE51;
}

.btn-svg.active .whishlist-svg path {
    fill: #FFDF5F;
}

.header .btn-svg {
    text-transform: uppercase;
}

.btn-category {
    --bs-btn-border-width: 2px;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-color: #ff6721;
    --bs-btn-hover-color: #FF996C;
    --bs-btn-border-color: #ff6721;
    --bs-btn-hover-border-color: #FF996C;
}

.btn-category:not(.collapsed) {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff6721;
}

.btn-icon {
    width: 2rem;
    height: 2rem;
    border: 0;
    padding: 0;
}

/*//////////////////////////////////////////////////////////////////
[ BASE STYLES ]*/

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-primary {
    color: #ff6721 !important;
}

.text-secondary {
    color: #3059ff !important;
}

.text-black {
    color: #463E3A !important;
}

.bg-blue {
    background-color: #F2FBFF !important;
}

.text-bg-light {
    color: #786962!important;
    background-color: rgba(240, 237, 235, 1)!important;
}

.z-index-1 {
    z-index: 1 !important;
}

.z-index-2 {
    z-index: 2 !important;
}

.z-index-3 {
    z-index: 3 !important;
}

.z-index-4 {
    z-index: 4 !important;
}

.z-index-5 {
    z-index: 5 !important;
}

.section-top {
    position: relative;
    max-width: 680px;
    margin: 0 auto 3rem;
    text-align: center;
}

.section-title {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 700;
    color: #ff6721;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.section-subtitle {
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 400;
}

.tagline {
    margin-top: 4px;
    font-size: 0.75rem;
    color: #463e3a;
}

.container-small {
    max-width: 960px;
    margin: 0 auto;
}

.badge {
    --bs-badge-font-weight: 400;
    --bs-badge-border-radius: 0.25rem;
}

.link-brown {
    color: #786962;
}

.link-brown:hover {
    color: #FF6721;
}

/*//////////////////////////////////////////////////////////////////
[ HEADER ]*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #f0edeb;
    z-index: 999;
    background: #fff;
}

.header_top {
    padding: 60px 0 40px;
    border-bottom: 1px solid #f0edeb;
}

.site-logo img {
    max-width: 155px;
    width: 100%;
    height: auto;
}

.header_top .search-form .form-control {
    padding: 0.5rem 0.75rem;
    border: 2px solid #FFC7AE;
}

.header_top .search-form .form-control:focus {
    border: 2px solid #ff6721;
}

.header_top .search-form button {
    margin-right: 0.75rem;
}

.header_auth {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1;
}

.header_auth a {
    color: #463E3A;
    text-decoration: none;
}

.header_auth a:hover {
    color: #ff6721;
}

.navbar-nav {
    --bs-navbar-nav-link-padding-x: 0.625rem;
    --bs-nav-link-font-size: 0.875rem;
    --bs-nav-link-font-weight: 400;
    --bs-nav-link-color: #786962;
    --bs-nav-link-hover-color: #FF6721;
}

.navbar-nav .dropdown-menu {
    --bs-dropdown-font-size: 0.875rem;
    --bs-dropdown-color: #786962;
    --bs-dropdown-link-color: #786962;
    --bs-dropdown-link-hover-color: #FF6721;
    --bs-dropdown-link-hover-bg: #F8FFEA;
    --bs-dropdown-link-active-color: #FF6721;
    --bs-dropdown-link-active-bg: #F8FFEA;
}

.navbar-nav .nav-link,
.navbar-nav .dropdown-item {
    text-transform: uppercase;
}

.nav-link.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-toggler {
    position: relative;
    display: block;
    width: 26px;
    height: 32px;
    padding: 0;
    border: none;
    box-shadow: none !important;
}

.navbar-toggler>div {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #786962;
    transition: top 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

.navbar-toggler>div:nth-child(1) {
    top: 25%;
    transform: translateY(-25%);
}

.navbar-toggler>div:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.navbar-toggler>div:nth-child(3) {
    top: 75%;
    transform: translateY(-75%);
}

.navbar-toggler:not(.collapsed)>div:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.navbar-toggler:not(.collapsed)>div:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed)>div:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.lang_select .dropdown-menu {
    --bs-dropdown-min-width: 100px;
    --bs-dropdown-font-size: 0.875rem;
    --bs-dropdown-color: #786962;
    --bs-dropdown-border-width: 0;
    --bs-dropdown-link-color: #786962;
    --bs-dropdown-link-hover-color: #FF6721;
    --bs-dropdown-link-hover-bg: #F8FFEA;
    --bs-dropdown-link-active-color: #FF6721;
    --bs-dropdown-link-active-bg: #F8FFEA;
}

.header_navbar_contacts {
    line-height: 1;
}

.header_navbar_contacts a {
    color: #ff6721;
    font-weight: 700;
    font-size: 1.125rem;
    text-decoration: none;
}

.header_navbar_contacts a:hover {
    text-decoration: underline;
}

.header_navbar_contacts .tagline {
    color: #786962;
    font-size: 0.75rem;
}

@media (min-width: 1200px) {
    .navbar-nav .dropdown-menu {
        --bs-dropdown-border-width: 0;
        margin-top: 0.75rem;
    }

    .lang_select .dropdown-menu {
        margin-top: 0.75rem;
    }
}

/* categories_dropdown */

.catalog-menu__wrapper {
    background-color: #fff;
}

.dropdown-fullwidth .dropdown-menu {
    --bs-dropdown-min-width: 920px;
    --bs-dropdown-border-width: 0;
    padding: 1rem 0;
    margin-top: 0.75rem;
}

/* .categories_dropdown {
    padding-right: 1.5rem;
} */

.categories_dropdown .quantity {
    color: #ff6721;
    margin-left: 8px;
}

.categories_dropdown .nav-tabs {
    --bs-nav-link-padding-x: 1.5rem;
    --bs-nav-link-padding-y: 1rem;
    display: flex;
    flex-direction: column;
    border: none;
}

.categories_dropdown .nav-tabs .nav-link {
    display: flex;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    margin-bottom: 0;
}

.categories_dropdown .nav-tabs .nav-link.active,
.categories_dropdown .nav-tabs .nav-link:hover,
.categories_dropdown .nav-tabs .nav-link:focus {
    background: #f8ffea;
}

.categories_dropdown .nav-tabs a {
    text-transform: uppercase;
    color: #786962;
    font-size: 1em;
    text-decoration: none;
}

.categories_dropdown .tab-pane ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.categories_dropdown .tab-pane ul li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.categories_dropdown .tab-pane ul a {
    color: #786962;
    font-size: 0.875rem;
    text-decoration: none;
}

.categories_dropdown .tab-pane ul a:hover {
    color: #ff5000;
}

.categories_dropdown .tab-pane .category-img {
    width: 100%;
    height: 290px;
    max-width: 290px;
    object-fit: cover;
}

.categories_dropdown .tab-pane ul li.has-submenu {}

.categories_dropdown .tab-pane .switcher {
    display: inline-block;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin-left: auto;
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF6721' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M0.256 8.606c0-0.269 0.106-0.544 0.313-0.75 0.412-0.412 1.087-0.412 1.5 0l14.119 14.119 13.913-13.912c0.413-0.412 1.087-0.412 1.5 0s0.413 1.088 0 1.5l-14.663 14.669c-0.413 0.413-1.088 0.413-1.5 0l-14.869-14.869c-0.213-0.213-0.313-0.481-0.313-0.756z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    transition: 0.3s ease;
}

.categories_dropdown .tab-pane .switcher:not(.collapsed) {
    transform: rotate(180deg);
}

.categories_dropdown .tab-pane .submenu__wrapper {
    flex: 1 0 100%;
}

.categories_dropdown .tab-pane .submenu {
    margin-bottom: 0;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
}

/* @media (min-width: 1200px) {
    .dropdown-fullwidth .dropdown-menu {
        --bs-dropdown-min-width: 1120px;
    }
} */

.menu-divider {
    width: 2px;
    height: 29px;
    background: #F0EDEB;
}

/*//////////////////////////////////////////////////////////////////
[ FOOTER ]*/

.footer {
    display: flex;
    flex-direction: column;
}

.footer .footer_top {
    padding-top: 48px;
    padding-bottom: 36px;
    border-radius: 20px 20px 0 0;
    background: #dedede;
}

.footer .footer_top p {
    font-size: 0.75rem;
    color: #786962;
}

.footer .footer_top a {
    color: #786962;
    font-size: 0.875rem;
    transition: 0.3s;
    text-decoration: none;
}

.footer .footer_top a:hover {
    color: #463e3a;
}

.footer .footer_top .footer-widget {
    margin-bottom: 28px;
}

.footer .footer_top .footer-widget h3 {
    color: #463e3a;
    font-size: 1.125rem;
}

.footer .footer_top .footer_contacts p,
.footer .footer_top .footer_contacts a {
    color: #786962;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-decoration: none;
}

.footer .footer_top .footer_contacts p {
    margin-bottom: 4px;
}

.footer .footer_top .footer_contacts a:hover {
    color: #463e3a;
}

.footer .footer_bottom {
    padding: 27px 0 90px;
    background: #fff;
}

.footer .footer_bottom h6,
.footer .footer_bottom p,
.footer .footer_bottom a {
    line-height: 1.125;
    font-size: 0.675rem;
}

.footer .footer_bottom h6 {
    color: #786962;
}

.footer .footer_bottom p,
.footer .footer_bottom a {
    color: #ad9d95;
    transition: 0.3s;
}

.footer .footer_bottom a:hover {
    color: #463e3a;
}

@media (min-width: 992px) {
    .footer .footer_bottom {
        padding: 27px 0 22px;
    }
}

/*------------------------------------------------------------------
[ Modal ]*/

.offcanvas-search {
    --bs-offcanvas-height: fit-content;
    --bs-offcanvas-padding-x: 0;
    --bs-offcanvas-padding-y: 0;
}

.modal {
    --bs-modal-header-border-width: 0;
}

.btn-close:focus {
    box-shadow: none;
}

.modal-content h3 {
    color: #463e3a;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.checkbox_container {
    display: flex;
    flex-direction: row;
    margin-top: 14px;
}

.checkbox_container p {
    margin-left: 12px;
    margin-top: 2px;
    color: #ad9d95;
    font-size: 0.875rem;
    font-weight: 400;
}

.checkbox_container p a {
    color: #ad9d95;
}

.checkbox_container input {
    opacity: 0;
}

.checkbox_container label {
    position: relative;
}

.checkbox_container input + label:before,
.checkbox_container input:checked + label:after {
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    cursor: pointer;
}

.checkbox_container input + label:before {
    width: 20px;
    height: 20px;
    background: white;
    border: 5px solid #ffc7ae;
    border-radius: 2px;
}

.checkbox_container input:checked + label:after {
    background: #ff6721;
    width: 20px;
    height: 20px;
    border: 5px solid #ffc7ae;
    border-radius: 2px;
}

.success-message h3 {
    text-align: left;
    font-size: 1.5rem;
}

.success-message p {
    text-align: left;
    margin-top: 8px;
    font-size: 1.125rem;
}

.success-message img {
    width: 34px;
    height: 34px;
}

.request-product img {
    width: 123px;
    height: 123px;
    object-fit: cover;
}

/*------------------------------------------------------------------
[ Footer mobile menu ]*/

.appBottomMenu {
    min-height: 56px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E1E1E1;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: env(safe-area-inset-bottom);
}

.appBottomMenu .item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    transition: none;
    color: #786962;
    outline: 0 !important;
    text-decoration: none;
    font-size: 9px;
    letter-spacing: 0;
    text-align: center;
    line-height: 1.2em;    
}

.appBottomMenu .item:before {
    content: '';
    display: block;
    height: 2px;
    border-radius: 0 0 10px 10px;
    background: transparent;
    position: absolute;
    left: 4px;
    right: 4px;
    top: 0;
}

.appBottomMenu .item.active {
    color: #FF6721;
}

.appBottomMenu .item .col {
    width: 100%;
    padding: 0 4px;
    text-align: center;
}

.appBottomMenu .item .icon {
    display: block;
    margin: 0 auto;
    transition: none;
}

.appBottomMenu .item strong {
    margin-top: 4px;
    display: block;
    font-weight: 400;
    transition: none;
}

.appBottomMenu .item.active .icon-categories path {
    fill: #FF6721;
}

.appBottomMenu .item.active .icon-whishlist path {
    stroke: #FF6721;
}

.appBottomMenu .item.active .icon-search path {
    stroke: #FF6721;
}

.appBottomMenu .item.active .icon-profile path {
    fill: #FF6721;
}

.appBottomMenu .item .action-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    border-radius: 50%;
    background: linear-gradient(90deg, #FF6822, #FF976A);
}

@media (min-width: 992px) {
    .appBottomMenu {
        display: none;
    }
}

/*//////////////////////////////////////////////////////////////////
[ CONTENT SECTIONS ]*/

.main {
    flex-grow: 1;
    padding-top: 60px;
    padding-bottom: 68px;
}

.main > .section {
    margin-bottom: 68px;
}

.main > .section:last-child {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .main {
        padding-top: 230px;
    }
}

@media (min-width: 1200px) {
    .main {
        padding-top: 210px;
    }
}

/* section-breadcrumbs */

.section-breadcrumbs {
    padding: 30px 0;
}

.breadcrumb {
    --bs-breadcrumb-font-size: 12px;
    --bs-breadcrumb-margin-bottom: 0;
    --bs-breadcrumb-item-active-color: #786962;
    --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.1665 1.51526L3.6665 4.01526L1.1665 6.51526V1.51526Z' fill='white' stroke='%23AD9D95' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: block;
}

.breadcrumb-item {
    display: inline;
}

.breadcrumb-item svg {
    transform: translateY(-4px);
}

.breadcrumb-item + .breadcrumb-item::before {
    float: inherit;
}

.breadcrumb a {
    text-decoration: none;
}

/* section-hero */

.hero-carousel .hero-img {
    width: 100%;
}

.hero-carousel .hero_control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: #faf9f9;
    opacity: 0.75;
    z-index: 2;
}

.hero-carousel .hero_control:hover {
    background: #f0edeb;
}

.hero-carousel .carousel-control-prev {
    left: 10px;
}

.hero-carousel .carousel-control-next {
    right: 10px;
}

@media (min-width: 992px) {
    .hero-carousel .hero_control {
        width: 67px;
        height: 67px;
        opacity: 1;
    }

    .hero-carousel .carousel-control-prev {
        left: -35px;
    }

    .hero-carousel .carousel-control-next {
        right: -35px;
    }
}

/* section-whyUs */

.section-whyUs .tabs {
    display: flex;
    flex-direction: column;
}

.section-whyUs .tabs>ul {
    display: flex;
    justify-content: center;
    gap: 6px;
}

@media (min-width: 992px) {
    .section-whyUs .tabs>ul {
        gap: 80px;
    }
}

.section-whyUs .tabs .nav-link {
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    color: #786962;
    text-transform: uppercase;
    padding-bottom: 7px;
    font-size: 1.125rem;
    font-weight: 400;
}

.section-whyUs .tabs .nav-link.active {
    font-weight: 700;
    color: #ff6721;    
    border-bottom: 3px solid #ff6721;
}

.section-whyUs .tab-content {
    padding: 70px 0;
    background: #ffffff;
}

.whyUs-step-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.whyUs-step-item::after {
    content: "";
    display: block;
    width: 9px;
    height: 24px;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='28' viewBox='0 0 14 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L11 14L2 26' stroke='%23FFC7AE' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(90deg);
}

.whyUs-step-item img {
    flex-shrink: 0;
    max-width: 100%;
    width: 65px;
    height: 65px;
}

.whyUs-step-text {
    max-width: 230px;
    text-align: center;
}

@media (min-width: 992px) {
    .whyUs-step-item {
        flex-direction: row;
    }

    .whyUs-step-item::after {
        transform: rotate(0deg);
    }

    .whyUs-step-item img {
        width: 48px;
        height: 48px;
    }

    .whyUs-step-text {
        text-align: left;
    }
}

/* section-newAnnouncements */

.product-card {
    --bs-card-border-width: 2px;
    --bs-card-border-radius: 9px;
    --bs-card-inner-border-radius: calc(8px - 1px);
    border-color: transparent;
}

.product-card:hover {
    border-color: #FF6C38;
}

.card-badge {
    position: absolute;
    top: 30px;
    left: 0;
    padding: 5px 22px;
    color: #4e4e4e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    background: #ffe9e0;
    z-index: 2;
}

.product-card .card-body {
    padding: 16px 22px 34px;
}

.product-card .card-title {
    --bs-link-color: #463e3a;
    --bs-link-hover-color: #FF6721;
    font-size: 1.125rem;
}

.product-card .card-title a {
    text-decoration: none;
}

.product-amount {
    font-size: 1.125rem;
    line-height: 1.3;
    color: #786962;
}

.product-amount span {
    text-transform: lowercase;
    font-size: 0.875rem;
    font-weight: 700;
}

.product-amount span.in-stock {
    color: #1bce51;
}

.product-amount span.not-stock {
    color: #FF6B5E;
}

.card-params-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.card-params-list li {
    text-transform: uppercase;
}

.card-params-list li span {
    color: #ad9d95;
    font-size: 0.875rem;
    margin-bottom: 10px;
    text-transform: lowercase;
}

.product-card .product-price {
    color: #ad9d95;
    font-size: 0.875rem;
}

.product-card .product-price span {
    color: #ff6721;
    font-size: 1.125rem;
    font-weight: 700;
}

.product-card .link-with-arrow {
    --icon-link-arrow: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 6L1 11' stroke='%23FF6721' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

.product-card .link-with-arrow::after {
    margin-left: 4px;
}

/* section-categories */

.category-card {
    height: 100%;
    min-height: 230px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.category-card:hover {
    border: 2px solid #ff6721;
}

.category-card a {
    text-decoration: none;
}

.category-card .card-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #786962;
}

.category-card:hover .card-title {
    font-weight: 700;
}

/* section-workWithUs */

.partnersSwiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.partnersSwiper .swiper-wrapper {
    transition-timing-function: linear;
}

.feedback-carousel {
    margin-top: 67px;
}

.feedbackSwiper .swiper-slide {
    height: auto;
}

.feedback-card {
    border-radius: 8px;
    border: 1px solid #ff6721;
    height: 100%;
}

.feedback-card a {
    text-decoration: none;
}

.feedback-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 42px;
    text-align: center;
}

.feedback-card .feedback-logo {
    font-size: 1.5rem;
    font-weight: 400;
    color: #463E3A;
}

.feedback-card .feedback-author {
    margin-top: 40px;
    font-size: 1.125rem;
    color: #463e3a;
}

.feedback-card .feedback-text {
    margin-top: 20px;
    font-size: 1.125rem;
    color: #786962;
}

.feedback-card .feedback-about {
    margin-top: 48px;
    display: flex;
    text-align: left;
    gap: 10px;
}

.feedback_control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: #faf9f9;
    opacity: 0.75;
    z-index: 2;
}

.feedback-prev {
    left: 10px;
}

.feedback-next {
    right: 10px;
}

@media (min-width: 992px) {
    .feedback_control {
        width: 67px;
        height: 67px;
        opacity: 1;
    }

    .feedback-prev {
        left: -67px;
    }

    .feedback-next {
        right: -67px;
    }
}

/* section-all_categories */

.all_categories .category_container h3 {
    text-transform: uppercase;
    color: #ff6721;
    font-size: 1.125rem;
}

.all_categories .category_container ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.all_categories .category_container ul a {
    font-size: 1.125rem;
    text-decoration: none;
    color: #786962;
}

.all_categories .category_container ul a:hover {
    color: #ff6721;
}

/* section-with-banner */

.section-with-banner {
    overflow: hidden;
}

.cut-banner {
    text-align: center;
}

.cut-banner img {
    border-radius: 50%;
}

@media (min-width: 992px) {
    .cut-banner {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
    }
}

/* section-howToSell */

.section-howToSell {
    padding-bottom: 70px;
}

.howToSell_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.howToSell-bg {
    display: none;
}

.howToSell-item {
    width: 100%;
}

.howToSell-card {
    --bs-card-border-color: #3059FF;
    --bs-card-border-radius: 8px;
    --bs-card-border-width: 2px;
}

@media (min-width: 1024px) {
    .howToSell-bg {
        display: block;
    }

    .howToSell-item {
        position: absolute;
        max-width: 360px;
    }

    .howToSell-item.item-01 {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .howToSell-item.item-02 {
        top: 27%;
        right: 0;
    }

    .howToSell-item.item-03 {
        top: 80%;
        right: 5%;
    }

    .howToSell-item.item-04 {
        top: 70%;
        left: 5%;
    }

    .howToSell-item.item-05 {
        top: 23%;
        left: 0;
    }

    .howToSell-item.item-last {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* section-contacts */

.contacts_info h3 {
    text-transform: uppercase;
    color: #786962;
    font-size: 1rem;
}

.contacts_info a,
.contacts_info p {
    font-size: 1.125rem;
    color: #463e3a;
    text-decoration: none;
}

.contacts_info .small {
    color: #786962;
    font-size: 0.875rem;
}

/* section-howToBuy */

.howToBuy-item {
    position: relative;
}

.howToBuy-item:not(.item-last)::after {
    content: url("data:image/svg+xml,%3Csvg width='16' height='55' viewBox='0 0 16 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.29289 54.7071C7.68342 55.0976 8.31658 55.0976 8.7071 54.7071L15.0711 48.3431C15.4616 47.9526 15.4616 47.3195 15.0711 46.9289C14.6805 46.5384 14.0474 46.5384 13.6569 46.9289L8 52.5858L2.34314 46.9289C1.95262 46.5384 1.31945 46.5384 0.92893 46.9289C0.538406 47.3195 0.538406 47.9526 0.92893 48.3431L7.29289 54.7071ZM7 -4.37114e-08L7 54L9 54L9 4.37114e-08L7 -4.37114e-08Z' fill='%233059FF'/%3E%3C/svg%3E");
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    
}

.howToBuy-card {
    --bs-card-spacer-y: 1.25rem;
    --bs-card-spacer-x: 1.25rem;
    --bs-card-border-color: #3059FF;
    --bs-card-border-radius: 8px;
    --bs-card-border-width: 2px;
}

.block-with-icon {
    display: flex;
    gap: 1.5rem;
}

.block-with-icon .icon-column {
    width: 61px;
}

/* section-page-content */

.sidebar .sidebar-widget {
    margin-bottom: 68px;
}

.sidebar .sidebar-widget:last-child {
    margin-bottom: 0;
}

.sidebar .filters-widget {
    margin-bottom: 0;
}

.sidebar-block-with-icon {
    display: flex;
    gap: 1rem;
}

.sidebar-block-with-icon .icon-column {
    width: 34px;
}

.sidebar-block-with-icon .section-title {
    font-size: 1.125rem;
}

.sidebar-block-with-icon p {
    font-size: 0.875rem;
}

@media (min-width: 992px) {
    .sidebar-left {
        padding-right: 1rem;
    }

    .sidebar .filters-widget {
        margin-bottom: 68px;
    }
}

.content-container > .section-text {
    margin-bottom: 34px;
}

.content-container > .section-text:last-child {
    margin-bottom: 0;
}

.sections-container > .section-block {
    margin-bottom: 47px;
}

.sections-container > .section-block.filters-section {
    margin-bottom: 30px;
}

.sections-container > .section-block:last-child {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .sections-container > .section-block {
        margin-bottom: 68px;
    }

    .sections-container > .section-block.filters-section {
        margin-bottom: 30px;
    }
}

.category-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-color: #786962;
    --bs-nav-link-hover-color: #FF6721;
}

.category-nav .link-category {
    position: relative;
    text-transform: uppercase;
}

.category-nav .link-category::after {
    content: url("data:image/svg+xml,%3Csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9297 1L6.92969 5L1.92969 1' stroke='%23AD9D95' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(180deg);
    transition: all 0.3s ease;
}

.category-nav .link-category.collapsed::after {
    transform: translateY(-50%) rotate(0);
}

.subcategory-nav {
    --bs-nav-link-color: #786962;
    --bs-nav-link-hover-color: #FF6721;
}

.alert-info {
    --bs-alert-color: #000;
    --bs-alert-bg: #EFFBFF;
    --bs-alert-border-color: #EFFBFF;
}

.alert-success {
    --bs-alert-color: #463E3A;
    --bs-alert-bg: #F8FFEA;
    --bs-alert-border-color: #F8FFEA;
}

.card-img-container {
    position: relative;
    background: #fff;
    border-radius: var(--bs-card-border-radius);
}

.archive-card .card-stripe {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    padding: 5px 22px;
    color: #463E3A;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    background: #ffe9e0;
    z-index: 1;
}

.archive-card .card-img-container img {
    opacity: 0.6;
}

.archive-card a {
    pointer-events: none;
}

.archive-card .product-price span {
    color: #AD9D95;
}

.card-timer {
    display: flex;
    gap: 0.5rem;
    padding: 14px 22px;
    background: #FFE9E0;
}

.productsSwiper .swiper-slide {
    height: auto;
}

.productsSwiper .product-card {
    height: 100%;
}

.product-card-horizontal {
    --bs-card-spacer-y: 0;
    --bs-card-spacer-x: 0;
    gap: 0.5rem;
    padding: 1.5rem;
    border-color: transparent;
}

.product-card-horizontal .card-img {
    border-radius: 0;
}

.product-card-horizontal .card-title {
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
}

.product-card-horizontal .card-title a {
    text-decoration: none;
}

.btn-state.active .compare-svg path {
    fill: #1BCE51;
}

.btn-state.active .whishlist-svg path {
    fill: #FFDF5F;
}

.product-params-table .table {
    font-size: 0.875rem;
}

.product-params-table .table td:first-child {
    color: #AD9D95;
}

.product-params-table .table td:last-child {
    text-align: right;
}

.product-params-table .table>:not(caption)>*>* {
    border-style: dashed;
}

.productPreviewSwiper .swiper-wrapper {
    margin-bottom: 38px;
}

.productPreviewSwiper .swiper-button-next,
.productPreviewSwiper .swiper-button-prev {
    width: 34px;
    height: 34px;
    margin-top: calc(0px - (34px/ 2));
    border-radius: 34px;
    background-color: #fff;
}

.productPreviewSwiper .swiper-button-next::after,
.productPreviewSwiper .swiper-button-prev::after {
    font-size: 12px;
}

.productPreviewSwiper .swiper-button-next {
    right: -10px;
}

.productPreviewSwiper .swiper-button-prev {
    left: -10px;
}

@media (min-width: 992px) {
    .product-card-horizontal {
        gap: 2rem;
        flex-direction: row;
    }

    .product-card-horizontal .card-img-container {
        width: 275px;
    }
}

.filters-container .filter-item {
    padding: 0.5rem 1rem;
    border-top: 2px solid #faf9f9;
}

.filters-container .filter-item:first-child {
    border-top: none;
}

.filter-card {
    overflow: hidden;
}

.filter-card .card-body {
    max-height: 220px;
    overflow-y: auto;
}

.filter-card .card-body::-webkit-scrollbar {
    width: 4px;
}

.filter-card .card-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.filter-card .card-body::-webkit-scrollbar-thumb {
    background: #888;
}

.filter-card .card-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.filter-item .link-filter {
    --bs-link-color: #786962;
    --bs-link-hover-color: #FF6721;
    position: relative;
    text-transform: uppercase;
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
}

.filter-item .link-filter::after {
    content: url("data:image/svg+xml,%3Csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9297 1L6.92969 5L1.92969 1' stroke='%23AD9D95' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(180deg);
    transition: all 0.3s ease;
}

.filter-item .link-filter.collapsed::after {
    transform: translateY(-50%) rotate(0);
}

.swiper .slide-img {
    width: 100%;
    object-fit: cover;
}

.productItemSwiper .slide-img {
    height: 340px;
}

@media (min-width: 992px) {
    .productItemSwiper .slide-img {
        height: 500px;
    }
}

.thumbsSwiper .slide-img {
    height: 96px;
}

.thumbsSwiper .swiper-button-next,
.thumbsSwiper .swiper-button-prev {
    width: 34px;
    height: 34px;
    margin-top: calc(0px - (34px/ 2));
    border-radius: 50%;
    background-color: #faf9f9;
}

.thumbsSwiper .swiper-button-next:after,
.thumbsSwiper .swiper-button-prev:after {
    font-size: 12px;
}

.product-title {
    color: #FF6721;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 0;
}

.quantity-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.quantity-buttons button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #463E3A;
    border: none;
    background-color: #FFE9E0;
}

.quantity-buttons input {
    text-align: center;
    border: none;
}

.product-info .info-tabs-nav {
    border-bottom: 2px solid #F0EDEB;
}

.product-info .info-tabs-link {
    padding: 7px 14px;
    color: #786962;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    border: 0;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
    opacity: 0.9;
}

.product-info .info-tabs-link.active {
    color: #FF6721;
    font-weight: 700;
    border-bottom: 2px solid #FF6721;
    opacity: 1;
}

.product-info .tab-content {
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
}

.product-info .tab-content > .tab-pane {
    display: block;
    border-top: 2px solid #faf9f9;
    border-bottom: 2px solid #faf9f9;
    margin-top: -2px;
}

.product-info .tab-content > .tab-pane:first-child {
    border-top: none;
}

.product-info .tab-content > .tab-pane:last-child {
    border-bottom: none;
}

.product-info .info-collapse-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    text-align: start;
    text-transform: uppercase;
    border: 0;
    padding: 24px 0;
}

.product-info .info-collapse-link::after {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    margin-left: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='2' viewBox='0 0 23 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='23' y='0.5' width='1' height='23' transform='rotate(90 23 0.5)' fill='%23212121'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-info .info-collapse-link.collapsed::after {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='24' viewBox='0 0 23 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='11' y='0.5' width='1' height='23' fill='%23212121'/%3E%3Crect x='23' y='11.5005' width='1' height='23' transform='rotate(90 23 11.5005)' fill='%23212121'/%3E%3C/svg%3E");
}

.product-info .tab-pane ul li {
    list-style-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='%23FF6721'/%3E%3C/svg%3E%0A");
  }

@media (min-width: 992px) {
    .product-info .tab-content > .tab-pane {
        display: none;
        border: none !important;
    }

    .product-info .tab-content > .active {
        display: block;
    }

    .product-info .collapse:not(.show) {
        display: block;
    }
}

/* Сравнение товаров */

/* Шаг 01 */

.compare__empty-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #463E3A;
    padding-bottom: 1em;
    border-bottom: 1px solid #d2d5db;
    margin-bottom: 2.65em;
}

.compare__add-link {
    display: flex;
    background-color: #F0EDEB;
    border-radius: 8px;
    color: #786962;
    align-items: center;
    font-weight: 400;
    text-decoration: none;
}

.compare__add-link_big {
    justify-content: center;
    width: 317px;
    height: 340px;
    text-align: center;
}

.compare__add-link span::before {
    content: "";
    display: block;
    border-radius: 50%;
    background-color: #F0F2F4;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6244 10.6388C10.6244 10.6388 10.6244 7.09254 10.6244 0C10.6244 0 11.8909 0 14.424 0C14.424 0 14.424 3.54627 14.424 10.6388C14.424 10.6388 17.9493 10.6388 25 10.6388C25 10.6388 25 11.8476 25 14.2651C25 14.2651 21.4747 14.2651 14.424 14.2651C14.424 14.2651 14.424 17.8434 14.424 25C14.424 25 13.1575 25 10.6244 25C10.6244 25 10.6244 21.4217 10.6244 14.2651C10.6244 14.2651 7.08293 14.2651 0 14.2651C0 14.2651 0 13.0564 0 10.6388C0 10.6388 3.54146 10.6388 10.6244 10.6388Z' fill='%23FF6721'/%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.compare__add-link_big span::before {
    width: 67px;
    height: 67px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-size: 1em auto;
}

/* Умный поиск */

.search-dropdown {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    display: none;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    background-color: #fff;
    overflow: hidden;
    z-index: 99;
}
  
#search-results {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
#search-results li {
    padding: 10px;
    cursor: pointer;
}

#search-results li a {
    display: block;
}
  
#search-results li:hover {
    background-color: #f2f2f2;
}

/* Карточки категорий в слайдере на странице каталога товаров */

.categoriesListSwiper .swiper-slide {
    height: auto;
}

.categoriesListSwiper .categories-list-card {
    height: 100%;
}

.categories-list-card {
    --bs-card-spacer-y: 10px;
    --bs-card-spacer-x: 10px;
    --bs-card-title-spacer-y: 0;
    --bs-card-border-width: 0;
    --bs-card-border-radius: 0.5rem;
    --bs-link-color: #786962;
    --bs-link-hover-color: #FF6721;
}

.categories-list-card .card-img-thumb {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 8px;
}

.categories-list-card .card-img-thumb img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.categories-list-card .card-title {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    text-decoration: none;
}