/*!
Theme: Mesee
Author: Andrey Galkin
Version: 1.0
*/

/*//////////////////////////////////////////////////////////////////
[ IMPORT FONTS ]*/

@font-face {
    font-family: "Evolventa";
    src: url(../fonts/Evolventa-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: "Evolventa";
    src: url(../fonts/Evolventa-Bold.woff);
    font-weight: 700;
}

/*//////////////////////////////////////////////////////////////////
[ ROOT ]*/

:root {
    --bs-primary: #ff6721;
    --bs-secondary: #6c757d;
    --bs-font-sans-serif: "Evolventa",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-body-color: #786962;
    --bs-body-bg: #faf9f9;
    --bs-link-color: #FF6721;
    --bs-link-hover-color: #FF996C;
    --swiper-theme-color: #FF6721;
}

html {
	min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

/*//////////////////////////////////////////////////////////////////
[ TYPOGRAPHY ]*/

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    line-height: 1.2;
}

.fw-light,
.fw-300 {
    font-weight: 300;
}

.fw-normal,
.fw-regular,
.fw-400 {
    font-weight: 400;
}

.fw-medium,
.fw-500 {
    font-weight: 500;
}

.fw-semibold,
.fw-600 {
    font-weight: 600;
}

.fw-bold,
.fw-700 {
    font-weight: 700;
}

/*//////////////////////////////////////////////////////////////////
[ FORMS ]*/

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

:focus,
:active {
    outline: none;
}

textarea {
    overflow: auto;
}

.form-control,
.form-select {
    border-radius: 0.5rem;
}

.form-control:focus,
.form-select:focus {
    border-color: #ff6721;
    box-shadow: none !important;
}

/* Check and radio */



/* Other fields */

.phone-group .form-select {
    max-width: 90px;
}

.filter-check.form-check-input {
    width: 22px;
    height: 22px;
    margin-top: 0;
    border-color: #FFC7AE;
    background-size: auto;
}

.filter-check.form-check-input:checked {
    background-color: #FFEFE8;
    border-color: #FFC7AE;
}

.filter-check.form-check-input:checked[type=radio],
.filter-check.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.5' width='10' height='10' rx='1' fill='%23FF6721'/%3E%3C/svg%3E");
}

.filter-check.form-check-input:focus {
    border-color: #FFC7AE;
    box-shadow: none;
    background-color: #FFEFE8;
}

.btn-filter {
    position: relative;
    display: block;
    cursor: pointer;
}

.btn-filter input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.btn-filter .btn-filter-body {
    position: relative;
    width: 125px;
    padding: 4px 10px;
    color: #786962;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff;
}

.btn-filter input[type="radio"]:checked+.btn-filter-body {
    color: #FF6721;
    border: 1px solid #FFC7AE;
}

.filters-section .form-select {
    max-width: 165px;
    padding-right: 1.75rem;
    border-top-width: 0 !important;
    border-right-width: 0 !important;
    border-left-width: 0 !important;
    border-radius: 0 !important;
    background-color: transparent;
    background-position: right 0.5rem center;
}

.filters-section .price-input {
    max-width: 125px;
}

/*//////////////////////////////////////////////////////////////////
[ BUTTONS ]*/

.btn {
    --bs-btn-color: #786962;
    --bs-btn-hover-color: #FF996C;
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-border-radius: 8px;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff6721;
    --bs-btn-border-color: #ff6721;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ff996c;
    --bs-btn-hover-border-color: #ff996c;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ff996c;
    --bs-btn-active-border-color: #ff996c;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #C3B8B2;
    --bs-btn-disabled-border-color: #C3B8B2;
    --bs-btn-font-weight: 700;
    --bs-btn-border-width: 0;
    background-image: linear-gradient(90deg, #ff6721 0%, #ff996c 100%);
    transition: background-image 0.5s;
}

.btn-primary:hover {
    background-image: linear-gradient(90deg, #ff996c 0%, #ff6721 100%);
}

.btn-primary:focus {
    background-image: linear-gradient(90deg, #ff5000 0%, #ffc7ae 100%);
}

.btn-outline {
    --bs-btn-color: #FF6721;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #ff6822;
    --bs-btn-hover-color: #FF6721;
    --bs-btn-hover-bg: #ffe9e0;
    --bs-btn-hover-border-color: #ffe9e0;
    --bs-btn-active-color: #FF6721;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #ffc7ae;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #C3B8B2;
    --bs-btn-disabled-border-color: #C3B8B2;
    --bs-btn-font-weight: 700;
    --bs-btn-border-width: 2px;
}

.btn-outline:focus {
    border-color: #ffc7ae;
    background: transparent;
}

.btn-text {
    --bs-btn-padding-x: 0;
    border: none;
    text-transform: uppercase;
    color: #ff6721;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 400;
}

.btn-callback {
    cursor: pointer;
    position: fixed;
    width: 56px;
    height: 56px;
    background: #00add0;
    border: 6px solid rgba(0, 173, 208, 0.18);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 12px;
    bottom: 75px;
    z-index: 1053;
}

.btn-callback:hover {
    border-color: rgba(0, 133, 160, 0.18);
}

.btn-svg {
    --bs-btn-active-color: #786962;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-svg.active .compare-svg path {
    fill: #1BCE51;
}

.btn-svg.active .wishlist-svg path {
    fill: #FFDF5F;
}

.header .btn-svg {
    text-transform: uppercase;
}

.btn-category {
    --bs-btn-color: #ff6721;
    --bs-btn-hover-color: #FF996C;
}

/*//////////////////////////////////////////////////////////////////
[ BASE STYLES ]*/

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-primary {
    color: #ff6721 !important;
}

.text-secondary {
    color: #3059ff !important;
}

.text-black {
    color: #463E3A !important;
}

.bg-blue {
    background-color: #F2FBFF !important;
}

.text-bg-light {
    color: #786962!important;
    background-color: rgba(240, 237, 235, 1)!important;
}

.z-index-1 {
    z-index: 1 !important;
}

.z-index-2 {
    z-index: 2 !important;
}

.z-index-3 {
    z-index: 3 !important;
}

.z-index-4 {
    z-index: 4 !important;
}

.z-index-5 {
    z-index: 5 !important;
}

.section-top {
    position: relative;
    max-width: 680px;
    margin: 0 auto 3rem;
    text-align: center;
}

.section-title {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 700;
    color: #ff6721;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.section-subtitle {
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 400;
}

.tagline {
    margin-top: 4px;
    font-size: 0.75rem;
    color: #463e3a;
}

.container-small {
    max-width: 960px;
    margin: 0 auto;
}

.badge {
    --bs-badge-font-weight: 400;
    --bs-badge-border-radius: 0.25rem;
}

.link-brown {
    color: #786962;
}

.link-brown:hover {
    color: #FF6721;
}

/*//////////////////////////////////////////////////////////////////
[ HEADER ]*/

.header {
    background: #fff;
}

.header_top {
    padding: 60px 0 40px;
    border-bottom: 1px solid #f0edeb;
}

.site-logo img {
    max-width: 155px;
    width: 100%;
    height: auto;
}

.header_top .search-form .form-control {
    padding: 0.5rem 0.75rem;
    border: 2px solid #FFC7AE;
}

.header_top .search-form .form-control:focus {
    border: 2px solid #ff6721;
}

.header_top .search-form button {
    margin-right: 0.75rem;
}

.header_auth {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1;
}

.header_auth a {
    color: #463E3A;
    text-decoration: none;
}

.header_auth a:hover {
    color: #ff6721;
}

.navbar-nav {
    --bs-navbar-nav-link-padding-x: 0.625rem;
    --bs-nav-link-font-size: 0.875rem;
    --bs-nav-link-font-weight: 400;
    --bs-nav-link-color: #786962;
    --bs-nav-link-hover-color: #FF6721;
}

.navbar-nav .dropdown-menu {
    --bs-dropdown-font-size: 0.875rem;
    --bs-dropdown-color: #786962;
    --bs-dropdown-link-color: #786962;
    --bs-dropdown-link-hover-color: #FF6721;
    --bs-dropdown-link-hover-bg: #F8FFEA;
    --bs-dropdown-link-active-color: #FF6721;
    --bs-dropdown-link-active-bg: #F8FFEA;
}

.navbar-nav .nav-link,
.navbar-nav .dropdown-item {
    text-transform: uppercase;
}

.nav-link.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-toggler {
    position: relative;
    display: block;
    width: 26px;
    height: 32px;
    padding: 0;
    border: none;
    box-shadow: none !important;
}

.navbar-toggler>div {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #786962;
    transition: top 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

.navbar-toggler>div:nth-child(1) {
    top: 25%;
    transform: translateY(-25%);
}

.navbar-toggler>div:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.navbar-toggler>div:nth-child(3) {
    top: 75%;
    transform: translateY(-75%);
}

.navbar-toggler:not(.collapsed)>div:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.navbar-toggler:not(.collapsed)>div:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed)>div:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.lang_select .dropdown-menu {
    --bs-dropdown-min-width: 100px;
    --bs-dropdown-font-size: 0.875rem;
    --bs-dropdown-color: #786962;
    --bs-dropdown-border-width: 0;
    --bs-dropdown-link-color: #786962;
    --bs-dropdown-link-hover-color: #FF6721;
    --bs-dropdown-link-hover-bg: #F8FFEA;
    --bs-dropdown-link-active-color: #FF6721;
    --bs-dropdown-link-active-bg: #F8FFEA;
}

.header_navbar_contacts {
    line-height: 1;
}

.header_navbar_contacts a {
    color: #ff6721;
    font-weight: 700;
    font-size: 1.125rem;
    text-decoration: none;
}

.header_navbar_contacts a:hover {
    text-decoration: underline;
}

.header_navbar_contacts .tagline {
    color: #786962;
    font-size: 0.75rem;
}

@media (min-width: 1200px) {
    .navbar-nav .dropdown-menu {
        --bs-dropdown-border-width: 0;
        margin-top: 0.75rem;
    }

    .lang_select .dropdown-menu {
        margin-top: 0.75rem;
    }
}

/* categories_dropdown */

.dropdown-fullwidth .dropdown-menu {
    --bs-dropdown-min-width: 920px;
    --bs-dropdown-border-width: 0;
    padding: 1rem 0;
    margin-top: 0.75rem;
}

.categories_dropdown {
    padding-right: 1.5rem;
}

.categories_dropdown .nav-tabs {
    display: flex;
    flex-direction: column;
    border: none;
}

.categories_dropdown .nav-tabs .nav-link {
    display: flex;
    gap: 8px;
    width: 100%;
    text-transform: uppercase;
    color: #786962;
    text-align: left;
    font-size: 1em;
    border: none;
    outline: none;
}

.categories_dropdown .nav-tabs .nav-link.active,
.categories_dropdown .nav-tabs .nav-link:hover,
.categories_dropdown .nav-tabs .nav-link:focus {
    background: #f8ffea;
}

.categories_dropdown .tab-pane ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.categories_dropdown .tab-pane ul li {
    display: flex;
    gap: 8px;
}

.categories_dropdown .tab-pane ul a {
    color: #786962;
    font-size: 0.875rem;
    text-decoration: none;
}

.categories_dropdown .tab-pane ul a:hover {
    color: #ff5000;
}

.categories_dropdown .tab-pane .category-img {
    width: 100%;
    height: 290px;
    max-width: 290px;
    object-fit: cover;
}

@media (min-width: 1200px) {
    .dropdown-fullwidth .dropdown-menu {
        --bs-dropdown-min-width: 1120px;
    }
}

.menu-divider {
    width: 2px;
    height: 29px;
    margin: 0 24px;
    background: #F0EDEB;
}

/*//////////////////////////////////////////////////////////////////
[ FOOTER ]*/

.footer {
    margin-top: 68px;
    display: flex;
    flex-direction: column;
}

.footer .footer_top {
    padding-top: 48px;
    padding-bottom: 36px;
    border-radius: 20px 20px 0 0;
    background: #dedede;
}

.footer .footer_top p {
    font-size: 0.75rem;
    color: #786962;
}

.footer .footer_top a {
    color: #786962;
    font-size: 0.875rem;
    transition: 0.3s;
    text-decoration: none;
}

.footer .footer_top a:hover {
    color: #463e3a;
}

.footer .footer_top .footer-widget {
    margin-bottom: 28px;
}

.footer .footer_top .footer-widget h3 {
    color: #463e3a;
    font-size: 1.125rem;
}

.footer .footer_top .footer_contacts p,
.footer .footer_top .footer_contacts a {
    color: #786962;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-decoration: none;
}

.footer .footer_top .footer_contacts p {
    margin-bottom: 4px;
}

.footer .footer_top .footer_contacts a:hover {
    color: #463e3a;
}

.footer .footer_bottom {
    padding: 27px 0 22px;
    background: #fff;
}

.footer .footer_bottom h6,
.footer .footer_bottom p,
.footer .footer_bottom a {
    line-height: 1.125;
    font-size: 0.675rem;
}

.footer .footer_bottom h6 {
    color: #786962;
}

.footer .footer_bottom p,
.footer .footer_bottom a {
    color: #ad9d95;
    transition: 0.3s;
}

.footer .footer_bottom a:hover {
    color: #463e3a;
}

/*------------------------------------------------------------------
[ Modal ]*/

.offcanvas-search {
    --bs-offcanvas-height: fit-content;
    --bs-offcanvas-padding-x: 0;
    --bs-offcanvas-padding-y: 0;
}

.modal {
    --bs-modal-header-border-width: 0;
}

.btn-close:focus {
    box-shadow: none;
}

.modal-content h3 {
    color: #463e3a;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.checkbox_container {
    display: flex;
    flex-direction: row;
    margin-top: 14px;
}

.checkbox_container p {
    margin-left: 12px;
    margin-top: 2px;
    color: #ad9d95;
    font-size: 0.875rem;
    font-weight: 400;
}

.checkbox_container p a {
    color: #ad9d95;
}

.checkbox_container input {
    opacity: 0;
}

.checkbox_container label {
    position: relative;
}

.checkbox_container input+label:before,
.checkbox_container input:checked+label:after {
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    cursor: pointer;
}

.checkbox_container input+label:before {
    width: 20px;
    height: 20px;
    background: white;
    border: 5px solid #ffc7ae;
    border-radius: 2px;
}

.checkbox_container input:checked+label:after {
    background: #ff6721;
    width: 20px;
    height: 20px;
    border: 5px solid #ffc7ae;
    border-radius: 2px;
}

.success-message h3 {
    text-align: left;
    font-size: 1.5rem;
}

.success-message p {
    text-align: left;
    margin-top: 8px;
    font-size: 1.125rem;
}

.success-message img {
    width: 34px;
    height: 34px;
}

.request-product img {
    width: 123px;
    height: 123px;
    object-fit: cover;
}

/*------------------------------------------------------------------
[ Footer mobile menu ]*/

.appBottomMenu {
    min-height: 56px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E1E1E1;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: env(safe-area-inset-bottom);
}

.appBottomMenu .item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    transition: none;
    color: #786962;
    outline: 0 !important;
    text-decoration: none;
    font-size: 9px;
    letter-spacing: 0;
    text-align: center;
    line-height: 1.2em;    
}

.appBottomMenu .item:before {
    content: '';
    display: block;
    height: 2px;
    border-radius: 0 0 10px 10px;
    background: transparent;
    position: absolute;
    left: 4px;
    right: 4px;
    top: 0;
}

.appBottomMenu .item.active {
    color: #FF6721;
}

.appBottomMenu .item .col {
    width: 100%;
    padding: 0 4px;
    text-align: center;
}

.appBottomMenu .item .icon {
    display: block;
    margin: 0 auto;
    transition: none;
}

.appBottomMenu .item strong {
    margin-top: 4px;
    display: block;
    font-weight: 400;
    transition: none;
}

.appBottomMenu .item.active .icon-categories path {
    fill: #FF6721;
}

.appBottomMenu .item.active .icon-wishlist path {
    stroke: #FF6721;
}

.appBottomMenu .item.active .icon-search path {
    stroke: #FF6721;
}

.appBottomMenu .item.active .icon-profile path {
    fill: #FF6721;
}

.appBottomMenu .item .action-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    border-radius: 50%;
    background: linear-gradient(90deg, #FF6822, #FF976A);
}

@media (min-width: 992px) {
    .appBottomMenu {
        display: none;
    }
}

/*//////////////////////////////////////////////////////////////////
[ CONTENT SECTIONS ]*/

.main > .section + .section {
    margin-top: 34px;
}

.main > .section {
    padding: 34px 0;
}

/* section-breadcrumbs */

.section-breadcrumbs {
    padding: 30px 0;
}

.breadcrumb {
    --bs-breadcrumb-font-size: 12px;
    --bs-breadcrumb-margin-bottom: 0;
    --bs-breadcrumb-item-active-color: #786962;
    --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.1665 1.51526L3.6665 4.01526L1.1665 6.51526V1.51526Z' fill='white' stroke='%23AD9D95' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: block;
}

.breadcrumb-item {
    display: inline;
}

.breadcrumb-item svg {
    transform: translateY(-4px);
}

.breadcrumb-item+.breadcrumb-item::before {
    float: inherit;
}

.breadcrumb a {
    text-decoration: none;
}

/* section-hero */

.hero-carousel .hero-img {
    width: 100%;
}

.hero-carousel .hero_control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: #faf9f9;
    opacity: 0.75;
    z-index: 2;
}

.hero-carousel .hero_control:hover {
    background: #f0edeb;
}

.hero-carousel .carousel-control-prev {
    left: 10px;
}

.hero-carousel .carousel-control-next {
    right: 10px;
}

@media (min-width: 992px) {
    .hero-carousel .hero_control {
        width: 67px;
        height: 67px;
        opacity: 1;
    }

    .hero-carousel .carousel-control-prev {
        left: -35px;
    }

    .hero-carousel .carousel-control-next {
        right: -35px;
    }
}

/* section-whyUs */

.section-whyUs .tabs {
    display: flex;
    flex-direction: column;
}

.section-whyUs .tabs>ul {
    display: flex;
    justify-content: center;
    gap: 6px;
}

@media (min-width: 992px) {
    .section-whyUs .tabs>ul {
        gap: 80px;
    }
}

.section-whyUs .tabs .nav-link {
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    color: #786962;
    text-transform: uppercase;
    padding-bottom: 7px;
    font-size: 1.125rem;
    font-weight: 400;
}

.section-whyUs .tabs .nav-link.active {
    font-weight: 700;
    color: #ff6721;    
    border-bottom: 3px solid #ff6721;
}

.section-whyUs .tab-content {
    padding: 70px 0;
    background: #ffffff;
}

.whyUs-step-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.whyUs-step-item::after {
    content: "";
    display: block;
    width: 9px;
    height: 24px;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='28' viewBox='0 0 14 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L11 14L2 26' stroke='%23FFC7AE' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(90deg);
}

.whyUs-step-item img {
    flex-shrink: 0;
    max-width: 100%;
    width: 65px;
    height: 65px;
}

.whyUs-step-text {
    max-width: 230px;
    text-align: center;
}

@media (min-width: 992px) {
    .whyUs-step-item {
        flex-direction: row;
    }

    .whyUs-step-item::after {
        transform: rotate(0deg);
    }

    .whyUs-step-item img {
        width: 48px;
        height: 48px;
    }

    .whyUs-step-text {
        text-align: left;
    }
}

/* section-newAnnouncements */

.product-card {
    --bs-card-border-width: 2px;
    --bs-card-border-radius: 9px;
    --bs-card-inner-border-radius: calc(8px - 1px);
    border-color: transparent;
}

.product-card:hover {
    border-color: #FF6C38;
}

.card-badge {
    position: absolute;
    top: 30px;
    left: 0;
    padding: 5px 22px;
    color: #4e4e4e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    background: #ffe9e0;
    z-index: 2;
}

.product-card .card-body {
    padding: 16px 22px 34px;
}

.product-card .card-title {
    --bs-link-color: #463e3a;
    --bs-link-hover-color: #FF6721;
    font-size: 1.125rem;
}

.product-card .card-title a {
    text-decoration: none;
}

.product-amount {
    font-size: 1.125rem;
    line-height: 1.3;
    color: #786962;
}

.product-amount .in-stock {
    color: #1bce51;
    text-transform: lowercase;
    font-size: 0.875rem;
    font-weight: 700;
}

.product-feature-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.product-feature-list li {
    text-transform: uppercase;
}

.product-feature-list li span {
    color: #ad9d95;
    font-size: 0.875rem;
    margin-bottom: 10px;
    text-transform: lowercase;
}

/* .product-feature-list p span {
    text-transform: uppercase;
    color: #786962;
} */

.product-card .product-price p {
    color: #ad9d95;
    font-size: 0.875rem;
    margin-bottom: 0;
}

.product-card .product-price p span {
    color: #ff6721;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5;
}

/* section-categories */

.category-card {
    height: 100%;
    min-height: 230px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.category-card:hover {
    border: 2px solid #ff6721;
}

.category-card a {
    text-decoration: none;
}

.category-card .card-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #786962;
}

.category-card:hover .card-title {
    font-weight: 700;
}

/* section-workWithUs */

.section-workWithUs .partners-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
    width: 100%;
    max-width: 1440px;
    padding: 0 48px;
    margin: 0 auto;
}

.section-workWithUs .partners-wrap img {
    max-width: 270px;
}

.feedback-carousel {
    margin-top: 67px;
}

.feedbackSwiper .swiper-slide {
    height: auto;
}

.feedback-card {
    border-radius: 8px;
    border: 1px solid #ff6721;
    height: 100%;
}

.feedback-card a {
    text-decoration: none;
}

.feedback-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 42px;
    text-align: center;
}

.feedback-card .feedback-logo {
    font-size: 1.5rem;
    font-weight: 400;
    color: #463E3A;
}

.feedback-card .feedback-author {
    margin-top: 40px;
    font-size: 1.125rem;
    color: #463e3a;
}

.feedback-card .feedback-text {
    margin-top: 20px;
    font-size: 1.125rem;
    color: #786962;
}

.feedback-card .feedback-about {
    margin-top: 48px;
    display: flex;
    text-align: left;
    gap: 10px;
}

.feedback_control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: #faf9f9;
    opacity: 0.75;
    z-index: 2;
}

.feedback-prev {
    left: 10px;
}

.feedback-next {
    right: 10px;
}

@media (min-width: 992px) {
    .feedback_control {
        width: 67px;
        height: 67px;
        opacity: 1;
    }

    .feedback-prev {
        left: -67px;
    }

    .feedback-next {
        right: -67px;
    }
}

/* section-all_categories */

.all_categories .category_container h3 {
    text-transform: uppercase;
    color: #ff6721;
    font-size: 1.125rem;
}

.all_categories .category_container ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.all_categories .category_container ul a {
    font-size: 1.125rem;
    text-decoration: none;
    color: #786962;
}

.all_categories .category_container ul a:hover {
    color: #ff6721;
}

/* section-with-banner */

.section-with-banner {
    overflow: hidden;
}

.cut-banner {
    text-align: center;
}

.cut-banner img {
    border-radius: 50%;
}

@media (min-width: 992px) {
    .cut-banner {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
    }
}

/* section-howToSell */

.howToSell_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.howToSell-bg {
    display: none;
}

.howToSell-item {
    width: 100%;
}

.howToSell-card {
    --bs-card-border-color: #3059FF;
    --bs-card-border-radius: 8px;
    --bs-card-border-width: 2px;
}

@media (min-width: 1024px) {
    .howToSell-bg {
        display: block;
    }

    .howToSell-item {
        position: absolute;
        max-width: 360px;
    }

    .howToSell-item.item-01 {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .howToSell-item.item-02 {
        top: 27%;
        right: 0;
    }

    .howToSell-item.item-03 {
        top: 80%;
        right: 5%;
    }

    .howToSell-item.item-04 {
        top: 70%;
        left: 5%;
    }

    .howToSell-item.item-05 {
        top: 23%;
        left: 0;
    }

    .howToSell-item.item-last {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* section-contacts */

.contacts_info h3 {
    text-transform: uppercase;
    color: #786962;
    font-size: 1rem;
}

.contacts_info a,
.contacts_info p {
    font-size: 1.125rem;
    color: #463e3a;
    text-decoration: none;
}

.contacts_info .small {
    color: #786962;
    font-size: 0.875rem;
}

/* section-howToBuy */

.howToBuy-item {
    position: relative;
}

.howToBuy-item:not(.item-last)::after {
    content: url("data:image/svg+xml,%3Csvg width='16' height='55' viewBox='0 0 16 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.29289 54.7071C7.68342 55.0976 8.31658 55.0976 8.7071 54.7071L15.0711 48.3431C15.4616 47.9526 15.4616 47.3195 15.0711 46.9289C14.6805 46.5384 14.0474 46.5384 13.6569 46.9289L8 52.5858L2.34314 46.9289C1.95262 46.5384 1.31945 46.5384 0.92893 46.9289C0.538406 47.3195 0.538406 47.9526 0.92893 48.3431L7.29289 54.7071ZM7 -4.37114e-08L7 54L9 54L9 4.37114e-08L7 -4.37114e-08Z' fill='%233059FF'/%3E%3C/svg%3E");
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    
}

.howToBuy-card {
    --bs-card-spacer-y: 1.25rem;
    --bs-card-spacer-x: 1.25rem;
    --bs-card-border-color: #3059FF;
    --bs-card-border-radius: 8px;
    --bs-card-border-width: 2px;
}

.block-with-icon {
    display: flex;
    gap: 1.5rem;
}

.block-with-icon .icon-column {
    width: 61px;
}

/* section-page-content */

.sidebar .sidebar-widget + .sidebar-widget {
    margin-top: 68px;
}

.sidebar-block-with-icon {
    display: flex;
    gap: 1rem;
}

.sidebar-block-with-icon .icon-column {
    width: 34px;
}

.sidebar-block-with-icon .section-title {
    font-size: 1.125rem;
}

.sidebar-block-with-icon p {
    font-size: 0.875rem;
}

.sidebar-block-with-icon .btn-text {
    font-size: 1rem;
}

@media (min-width: 992px) {
    .sidebar-left {
        padding-right: 1rem;
    }
}

.content-container .section-text + .section-text {
    margin-top: 32px;
}

.sections-container .section-block + .section-block {
    margin-top: 68px;
}

.category-nav {
    --bs-nav-link-color: #786962;
    --bs-nav-link-hover-color: #FF6721;
}

.category-nav .link-category {
    position: relative;
    text-transform: uppercase;
}

.category-nav .link-category::after {
    content: url("data:image/svg+xml,%3Csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9297 1L6.92969 5L1.92969 1' stroke='%23AD9D95' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(180deg);
    transition: all 0.3s ease;
}

.category-nav .link-category.collapsed::after {
    transform: translateY(-50%) rotate(0);
}

.subcategory-nav {
    --bs-nav-link-color: #786962;
    --bs-nav-link-hover-color: #FF6721;
}

.alert-info {
    --bs-alert-color: #000;
    --bs-alert-bg: #EFFBFF;
    --bs-alert-border-color: #EFFBFF;
}

.alert-success {
    --bs-alert-color: #463E3A;
    --bs-alert-bg: #F8FFEA;
    --bs-alert-border-color: #F8FFEA;
}

.card-img-container {
    position: relative;
    background: #fff;
    border-radius: var(--bs-card-border-radius);
}

.archive-card .card-stripe {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    padding: 5px 22px;
    color: #463E3A;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    background: #ffe9e0;
    z-index: 1;
}

.archive-card .card-img-container img {
    opacity: 0.6;
}

.archive-card .btn {
    pointer-events: none;
}

.card-timer {
    display: flex;
    gap: 0.5rem;
    padding: 14px 22px;
    background: #FFE9E0;
}

.productsSwiper .swiper-slide {
    height: auto;
}

.productsSwiper .product-card {
    height: 100%;
}

.product-card-horizontal {
    --bs-card-spacer-y: 0;
    --bs-card-spacer-x: 0;
    gap: 0.5rem;
    padding: 1.5rem;
    border-color: transparent;
}

.product-card-horizontal .card-img {
    border-radius: 0;
}

.productPreviewSwiper .swiper-wrapper {
    margin-bottom: 38px;
}

.productPreviewSwiper .swiper-button-next,
.productPreviewSwiper .swiper-button-prev {
    width: 44px;
    height: 34px;
    margin-top: calc(0px - (34px/ 2));
    border-radius: 34px;
    background-color: #fff;
}

.productPreviewSwiper .swiper-button-next::after,
.productPreviewSwiper .swiper-button-prev::after {
    font-size: 12px;
}

.productPreviewSwiper .swiper-button-next {
    right: -17px;
}

.productPreviewSwiper .swiper-button-prev {
    left: -17px;
}

@media (min-width: 992px) {
    .product-card-horizontal {
        gap: 2rem;
        flex-direction: row;
    }

    .product-card-horizontal .card-img-container {
        width: 275px;
    }
}

/* Сравнение товаров */

/* Шаг 01 */

.compare__empty-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #463E3A;
    padding-bottom: 1em;
    border-bottom: 1px solid #d2d5db;
    margin-bottom: 2.65em;
}

.compare__add-link {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    color: #85898C;
    transition: box-shadow 0.25s;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}

.compare__add-link_big {
    justify-content: center;
    width: 242px;
    height: 412px;
    text-align: center;
}

.compare__add-link span::before {
    content: "";
    display: block;
    border-radius: 50%;
    background-color: #F0F2F4;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeDE9IjcuNSIgeTE9IjIuMTg1NThlLTA4IiB4Mj0iNy41IiB5Mj0iMTYiIHN0cm9rZT0iIzg1ODk4QyIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMCA4SDE2IiBzdHJva2U9IiM4NTg5OEMiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.compare__add-link_big span::before {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-size: 1em auto;
}

/* Шаг 02 */

